engine-strict=true
registry=https://registry.npmjs.org/
save-exact=true
resolution-mode=highest
prefer-offline=true
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
node-version=22.13.1
