@import "tailwindcss";
@import "./theme.css";

/* Custom patterns */
.bg-grid-pattern {
  background-image:
    linear-gradient(var(--color-primary) 1px, transparent 1px),
    linear-gradient(to right, var(--color-primary) 1px, transparent 1px);
  background-size: 50px 50px;
  opacity: 0.1;
}
